
.App-header {
  background-color: #095bff;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 20px;
}

.comment-list, .reply-form {
  margin: 0 auto;
  width: 60%;
}

.author {
  font-size: 16px;
  font-weight: 600;
}

.reply-form {
  margin-top: 50px;
}

.comment {
  margin: 8px 0;
}

.field > input {
  height: 30px;
  margin: 10px 0;
}

input, textarea {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
}

button {
  background: #337ab7;
  border-radius: 5px;
  border-color: #337ab7;
  color: #fff;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
